#!/usr/bin/make -f
# Sample debian/rules that uses debhelper.
# GNU copyright 1997 to 1999 by Joey Hess.

#export DH_VERBOSE=1
export DH_COMPAT=3

#configure: configure-stamp
#configure-stamp:
#	dh_testdir
#	touch configure-stamp

#build: configure-stamp build-stamp
build: build-stamp
build-stamp:
	dh_testdir
	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp
	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	install -D -m 0755 llgal $(CURDIR)/debian/llgal/usr/bin/llgal
	install -d -m 0755 $(CURDIR)/debian/llgal/usr/share/llgal $(CURDIR)/debian/llgal/usr/share/man/man1 $(CURDIR)/debian/llgal/etc
	install -m 0644 indextemplate.html llgal.css slidetemplate.html tile.png $(CURDIR)/debian/llgal/usr/share/llgal
	install -m 0644 llgal.1 $(CURDIR)/debian/llgal/usr/share/man/man1/ 
	install -m 0644 llgalrc $(CURDIR)/debian/llgal/etc/

# Build architecture-independent files here.
binary-indep: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs
	dh_installdocs
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_perl
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep
.PHONY: build clean binary-indep binary install configure
